
.second {
    margin-top: 100px;

    &-list {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        justify-content: space-between;
        align-items: center;

        .item {
            display: grid;
            align-content: space-between;
            min-width: 280px;
            min-height: 370px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            transition: $trans03;

            &:hover {
                box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
                transform: translateY(-20px);
                transition: $trans03;
                cursor: pointer;

            }

            &:nth-child(1) {
                background: $firstColor;
            }

            &:nth-child(2) {
                background: $secondColor;
            }

            &:nth-child(3) {
                background: $forthColor;
            }

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.7094em;

                &-svg {
                    fill: transparent;
                    stroke: $blackColor;
                    width: 70px;

                    &__catalog {
                        stroke: $thirdColor;
                        fill: $thirdColor;
                    }

                    &__cart {
                        fill: $thirdColor;
                    }
                    &__target {
                        fill: $thirdColor;
                    }
                }
            }

            &-descr {
                font-weight: bold;
            }

            &-btn {
                margin-top: 70px;

                button {
                    width: 100%;
                }
            }
        }
    }
}

