.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    border-radius: 10px;
    background-color: $thirdColor;
    padding: 15px 30px;
    font-size: 1.2em;
    padding-right: 12%;
    color: $whiteColor;
    border: none;
    position: relative;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
    transition: $trans03;

    &::after {
        content: "";
        background-color: $whiteColor;
        width: 20px;
        height: 1px;
        position: absolute;
        right: 15px;
        top: 50%;
        transition: $trans03;

    }

    &:hover::after {
        width: 40px;
        transition: $trans03;
    }
}

.btn-secondary {
    font-size: 1.2em;
    position: relative;
    border: none;
    background-color: $secondColor;
    border-bottom: 1px solid $secondColor;
    border-top: 1px solid $secondColor;
    padding: 15px 30px;
    padding-right: 12%;
    border-radius: 10px;
    cursor: pointer;
    transition: $trans03;

    &::after {
        content: "";
        background-color: $blackColor;
        width: 20px;
        height: 1px;
        position: absolute;
        right: 15px;
        top: 50%;
        transition: $trans03;

    }

    &:hover::after {
        width: 40px;
        transition: $trans03;
    }
}