.single-work {
    &_wrap {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &_works {
        .main-img {
            position: relative;
            width: 100%;

            img {
                position: absolute;
                width: 100%;

            }
        }
    }
}